@page
@model PX_Project_Version_3.Pages.Judges.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Judge[0].UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Judge[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Judge[0].EventID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Judge) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.JudgeId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.JudgeId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.JudgeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
