@page
@model PX_Project_Version_3.Pages.Members.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].TeamID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].EventID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Member) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MemberId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MemberId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MemberId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
