@page
@model PX_Project_Version_3.Pages.AllThemesModel

@{
    ViewData["Title"] = "AllThemes";
}

<h1>AllThemes</h1>

<div>
    <form method="post">
        <select name="eventid" asp-items="Model.AllEvents"></select>
        <input type="submit" class="btn btn-primary" value="Get Results">
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Theme[0].ThemeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theme[0].ThemeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theme[0].EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theme[0].EventCode)
            </th>
            @if (Model.isAdmin)
            {
                <th></th>
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Theme) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ThemeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThemeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventCode)
            </td>
            
            @if (Model.isAdmin)
            {
        <td>
            <a asp-page="./EditTheme" asp-route-id="@item.ThemeId">Edit Theme</a>
        </td>

        <td>
            <a asp-page="./DeleteTheme" asp-route-id="@item.ThemeId">Delete Theme</a>
        </td>
            }

           
        </tr>
}
    </tbody>
</table>
