@page
@model PX_Project_Version_3.Pages.AllTeamsModel

@{
    ViewData["Title"] = "AllTeams";
}

<h1>List of All the Teams</h1>

<!-- Overriding Datatables classes -->
<style>
    .searchBox > div {
        float: none;
    }

    .dataTables_wrapper .searchBox .dataTables_filter {
        float: left
    }
</style>

<head>
    <link rel="stylesheet" href="~/css/master.css">
    <!-- DataTables CSS and JS-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <script src="~/js/jquery-3.5.1.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.editor.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                dom: '<"searchBox"f>t',
                responsive: true,
                columnDefs: [
                    { responsivePriority: 1 },
                    { responsivePriority: 3 },
                    { responsivePriority: 5 },
                    { responsivePriority: 4 },
                    { responsivePriority: 2 }
                ]
            });
        });
    </script>
</head>

<p>
    @Model.Message
</p>

<div>
    <div>
        <form method="post">
            <select name="eventid" asp-items="Model.eventList"></select>
            <input type="submit" class="btn btn-primary" value="Filter Results">
        </form>
    </div>
</div>

<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Idea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventCode)
            </th>

            <th>
                Team Details
            </th>

            @if (Model.isAdmin)
            {
                <th></th>
                <th></th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Team)
        {


            foreach (var user in Model.allUsers)
            {
                if (item.UserID.Equals(user.UserId))
                {
                    Model.UserName = user.UserName;
                    break;
                }
                Model.UserName = "Not-Found";
            }

            foreach (var eve in Model.allEvents)
            {
                if (item.EventID.Equals(eve.EventId))
                {
                    Model.EventCode = eve.EventCode;
                    break;
                }
                Model.EventCode = "Not-Found";
            }

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TeamName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Idea)
                </td>
                <td>
                    @Html.DisplayFor(model => model.UserName)
                </td>
                <td>
                    @Html.DisplayFor(model => model.EventCode)
                </td>

                <td>
                    <a asp-page="./TeamDetails" asp-route-id="@item.TeamId">Team Details</a>
                </td>

                @if (Model.isAdmin)
                {
                    <td>
                        <a asp-page="./EditTeamDetails" asp-route-id="@item.TeamId">Edit Team</a>
                    </td>

                    <td>
                        <a asp-page="./DeleteTeamByAdmin" asp-route-id="@item.TeamId">Delete Team</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
