@page
@model PX_Project_Version_3.Pages.AllUsersModel

@{
    ViewData["Title"] = "AllUsers";
}

<h1>AllUsers</h1>

<!-- Overriding Datatables classes -->
<style>
    .searchBox > div {
        float: none;
    }

    .dataTables_wrapper .searchBox .dataTables_filter {
        float: left
    }
</style>

<head>
    <link rel="stylesheet" href="~/css/master.css">
    <!-- DataTables CSS and JS-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <script src="~/js/jquery-3.5.1.js"></script>
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.editor.min.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                dom: '<"searchBox"f>t',
                responsive: true,
                columnDefs: [
                    { responsivePriority: 1 },
                    { responsivePriority: 3 },
                    { responsivePriority: 2 }
                ]
            });
        });
    </script>
</head>


<p>
    @Model.Message
</p>

<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.allUsers[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.allUsers[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.allUsers[0].FullName)
            </th>

            @if (Model.isAdmin)
            {
                <th></th>
                <th></th>

            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.allUsers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                @if (Model.isAdmin)
                {
                    <td>
                        <a asp-page="./EditUser" asp-route-id="@item.UserId">
                            <svg class="bi bi-pencil-square" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M15.502 1.94a.5.5 0 010 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 01.707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 00-.121.196l-.805 2.414a.25.25 0 00.316.316l2.414-.805a.5.5 0 00.196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 002.5 15h11a1.5 1.5 0 001.5-1.5v-6a.5.5 0 00-1 0v6a.5.5 0 01-.5.5h-11a.5.5 0 01-.5-.5v-11a.5.5 0 01.5-.5H9a.5.5 0 000-1H2.5A1.5 1.5 0 001 2.5v11z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </td>

                    <td>
                        <a asp-page="./DeleteUser" asp-route-id="@item.UserId">
                            <svg class="bi bi-trash-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M2.5 1a1 1 0 00-1 1v1a1 1 0 001 1H3v9a2 2 0 002 2h6a2 2 0 002-2V4h.5a1 1 0 001-1V2a1 1 0 00-1-1H10a1 1 0 00-1-1H7a1 1 0 00-1 1H2.5zm3 4a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7a.5.5 0 01.5-.5zM8 5a.5.5 0 01.5.5v7a.5.5 0 01-1 0v-7A.5.5 0 018 5zm3 .5a.5.5 0 00-1 0v7a.5.5 0 001 0v-7z" clip-rule="evenodd" />
                            </svg>
                        </a>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
