@page
@model PX_Project_Version_3.Pages.DeleteTeamModel

@{
    ViewData["Title"] = "DeleteTeam";
}

<h1>DeleteTeam</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.ProjectName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.ProjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.Idea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.Idea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.JoinCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.JoinCode)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Team.TeamId" />
        <input type="submit" value="Delete Team" class="btn btn-danger" /> |
        <a asp-page="./MyTeam">My Team</a>
    </form>
</div>
