@page
@model PX_Project_Version_3.Pages.ManageJudgesModel

@{
    ViewData["Title"] = "ManageJudges";
}

<h1>ManageJudges</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users[0].FullName)
            </th>
            <th>@Html.DisplayNameFor(model => model.JudgeStatus)</th>
            <th>@Html.DisplayNameFor(model => model.ThemeName)</th>
            <th>@Html.DisplayNameFor(model => model.ThemeType)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Users) {
        <tr>

            @foreach (var judge in Model.Judges)
            {

                Model.ThemeType = "Not-Judge";
                Model.ThemeName = "Not-Judge";
                if (judge.UserID.Equals(item.UserId))
                {

                    Model.JudgeStatus = "Remove-Judge";
                    foreach (var theme in Model.allThemes)
                    {
                        if (judge.ThemeID.Equals(theme.ThemeId))
                        {
                            Model.ThemeName = theme.ThemeName;
                            Model.ThemeType = theme.ThemeType;
                            break;
                        }
                        Model.ThemeType = "Not-Judge";
                        Model.ThemeName = "Not-Judge";
                    }
                    break;
                }
                Model.JudgeStatus = "Make-Judge";
            }

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                <a asp-page="./ConfirmJudge" asp-route-id="@item.UserId"> @Model.JudgeStatus</a>
            </td>
            <td>@Html.DisplayFor(model => model.ThemeName)</td>
            <td>@Html.DisplayFor(model => model.ThemeType)</td>
        </tr>
}
    </tbody>
</table>
