@page
@model PX_Project_Version_3.Pages.PeopleWinnerListModel

@{
    ViewData["Title"] = "PeopleWinnerList";
}

<h1>PeopleWinnerList</h1>
<br/>

<div>
    <form method="post">
        <select name="eventid" asp-items="Model.eventList"></select>
        <input type="submit" class="btn btn-primary" value="Filter Results"> 
    </form>
</div>
<br/>
<h3>@Model.Message</h3>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PeopleWinner[0].TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EventCode)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PeopleWinner) {


    foreach (var eve in Model.allEvents)
    {
        if (item.EventID.Equals(eve.EventId))
        {
            Model.EventCode = eve.EventCode;
            break;
        }
        Model.EventCode = "Not-Found";
    }

    foreach (var user in Model.allUsers)
    {
        if (item.UserID.Equals(user.UserId))
        {
            Model.UserName = user.UserName;
            break;
        }
        Model.UserName = "Not-Found";
    }

        <tr>
            <td>
                @Html.DisplayFor(model => model.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(model => model.EventCode)
            </td>
           
        </tr>
}
    </tbody>
</table>
