@page
@model PX_Project_Version_3.Pages.TeamDetailsModel

@{
    ViewData["Title"] = "TeamDetails";
}

<h1>TeamDetails</h1>

<h4>@Model.Message</h4>

<div>
    <a asp-page="./AllTeams">All Teams</a>
</div>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.TeamName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.TeamName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.ProjectName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.ProjectName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Team.Idea)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Team.Idea)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventCode)
        </dd>
    </dl>
</div>

<div>
    <h4>Leader</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.leader.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.leader.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.leader.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.leader.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.leader.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.leader.Email)
        </dd>
    </dl>
</div>

<div>
    <h4>Team Members</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.allMembers[0].UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.allMembers[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.allMembers[0].FullName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.allMembers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
</div>

@if (Model.hasPresentation)
{

    <div>
        <form method="post">
            <input type="hidden" name="teamid" value="@Model.Team.TeamId">
            <input type="submit" class="btn btn-primary" value="Download Presentation">
        </form>
    </div>
}


