@page
@model PX_Project_Version_3.Pages.TieBreakModel

@{
    ViewData["Title"] = "TieBreak";
}

<h1>TieBreak</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor( model => model.EventCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TieBreaker) {
        <tr>
            @foreach (var team in Model.allTeams)
            {
                if (team.TeamId.Equals(item.TeamID))
                {
                    Model.TeamName = team.TeamName;
                    break;
                }
                Model.TeamName = "Not-Found";
            }

            @foreach (var user in Model.allUsers)
            {
                if (user.UserId.Equals(item.UserID))
                {
                    Model.UserName = user.UserName;
                    break;
                }
                Model.UserName = "Not-Found";
            }

            @foreach (var eve in Model.allEvents)
            {
                if (eve.EventId.Equals(item.EventID))
                {
                    Model.EventCode = eve.EventCode;
                    break;
                }
                Model.EventCode = "Not-Found";
            }

            <td>
                @Html.DisplayFor(model => model.TeamName)
            </td>
            <td>
                @Html.DisplayFor(model => model.UserName)
            </td>
            <td>
                @Html.DisplayFor(model => model.EventCode)
            </td>
            <td>
               <a asp-page="./MakeWinner" asp-route-id="@item.TieBreakerId">Winner</a>
            </td>
        </tr>
}
    </tbody>
</table>
