@page
@model PX_Project_Version_3.Pages.TeamPresentations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamPresentation[0].TeamID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamPresentation[0].FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamPresentation[0].TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamPresentation[0].EventID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TeamPresentation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TeamPresentationId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TeamPresentationId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TeamPresentationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
