@page
@model PX_Project_Version_3.Pages.Teams.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].TeamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].Idea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].EventID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].JoinCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Team[0].ThemeID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Team) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JoinCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThemeID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.TeamId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.TeamId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.TeamId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
