@page
@model PX_Project_Version_3.Pages.Events.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].EventId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].EventCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event[0].EventName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Event) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EventId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.EventId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.EventId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
